.service--img {
    width: 469px;
    height: 428px;
}

.servicelist--h {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.servicelist--p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.servicelist--list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.service--container {
    display: flex;
    justify-content: space-between;
}