.whyus--container {
    padding-top: 24px;
    padding-left: 24px;
    gap: 16px;
}
.whyus--icon {
    height: 32px;
    width: 32px;
}

.whyus--title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.whyus--desc {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}