.servicelist-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.servicelist-icon {
    width: 24px;
    height: 24px;
}

.servicelist-desc {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: black;
}